@model SEO.Models.Ahref

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ahref</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DomainId" class="control-label">|Domain</label>
                <select asp-for="DomainId" class="form-control" asp-items="ViewBag.DomainId"></select>
            </div>
            <div class="form-group">
                <label asp-for="domain" class="control-label"></label>
                <input asp-for="domain" class="form-control" />
                <span asp-validation-for="domain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="value" class="control-label"></label>
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stringValue" class="control-label"></label>
                <input asp-for="stringValue" class="form-control" />
                <span asp-validation-for="stringValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}